/* Responsive Image Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Automatically resize columns */
    grid-gap: 20px; /* Space between images */
    width: 100%;
}

/* Each gallery item */
.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: max-content;
    padding: 10px
}

/* Images inside the gallery */
.gallery-item img {
    max-width: 400px;
    height: auto;
    width: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}
