<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>James Leslie - $title$</title>
    <link rel="stylesheet" href="/css/nlab.css">
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/misc.css" />
    <link rel="stylesheet" href="/css/gallery.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  </head>
  <body>
    $partial("templates/topnav.html")$

    <main role="main">
      <h1>$title$</h1>
      <div>
        $if(previousPageNum)$
        <a href="$previousPageUrl$">◀ Newer Entries</a>
        $endif$&nbsp;

        $if(nextPageNum)$
        <a href="$nextPageUrl$" style="float: right;">Older Entries ▶</a>
        $endif$&nbsp;
        </div>

        $partial("templates/woody-gallery.html")$
    </main>

    $partial("templates/footer.html")$
  </body>
</html>
